img{
     max-height: 80vh;
     width: 100%;
     object-fit: contain;
     margin: 0 30px;
     align-items: center;
     align-content: center;
     margin: auto;
     justify-content: center;
}
div div{
     font-size: 20px;
     padding-top: 50px;
     height: 20vw;
     opacity: 0%;
     margin: auto;
     align-content: center;
     justify-content: end;
     align-items:flex-end;
     text-align: center;
     animation: visible 6s forwards;
}
@keyframes visible {
     80%{
          transform: scale(1.2);
     }
     100%{
          opacity: 100%;
          transform: none;
     }
}