.list{
     display: flex;
     flex-flow: column;
     flex-direction: column;
     gap: 30px;
     padding: 50px 150px;
}
.list > button {
     width: 100%;
     font-size: 20px;
     height: 50px;
     border-radius: 10px;
     box-shadow: 2px 2px 8px #00000033;
}